@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

body {
font-size: 18px;
font-family: 'Barlow', sans-serif;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
}

nav {
    font-family: 'Barlow Condensed', sans-serif;
}

// Colors

// Primary

$primary-Red : hsl(0, 100%, 68%);

// Neutral

 $Very-Dark-Blue: hsl(230, 29%, 20%);
 $Dark-Grayish-Blue: hsl(230, 11%, 40%);
 $Grayish-Blue: hsl(231, 7%, 65%);
 $Light-Grayish-Blue: hsl(207, 33%, 95%);