@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
html {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
}

nav {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

nav {
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: red;
}
nav .logo {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
nav .hamburguer {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
nav .line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
nav .nav-links {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 30%;
  right: 50%;
  transform: translate(50%, -30%);
  width: 250px;
  height: 200px;
  background-color: azure;
}
nav .nav-links-desktop {
  display: none;
}

main {
  height: 90vh;
  background-color: green;
}
main .image-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
main .block {
  background-color: blue;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .block .name {
  text-transform: uppercase;
  color: #a0a1ac;
}
main .block .name .new {
  background-color: #242942;
  color: white;
  border-radius: 18px;
  padding: 5px;
  margin: 14px;
  font-weight: 700;
  width: 50px;
}

h1 {
  margin: 30px;
  font-weight: 700;
  color: #5b5f71;
  text-transform: uppercase;
}

p {
  color: #a0a1ac;
  margin: 30px;
}

footer {
  background-color: yellow;
  height: 40px;
}

@media screen and (min-width: 426px) {
  nav .hamburguer {
    display: none;
  }
  nav .nav-links-desktop {
    margin-top: 20px;
    background-color: aliceblue;
    width: 50%;
    float: right;
    display: flex;
  }
  nav .nav-links-desktop li {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
  }

  main {
    background-color: purple;
  }
}
@media screen and (min-width: 689px) {
  nav .hamburguer {
    display: none;
  }
  nav .nav-links-desktop {
    margin-top: 20px;
    background-color: aliceblue;
    width: 50%;
    float: right;
    display: flex;
  }
  nav .nav-links-desktop li {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
  }

  main {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
