@import 'reset';
@import 'colors';

body {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}

.flex {
    display: flex;
  }

nav {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: red;
    
    .logo {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .hamburguer {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .nav-links {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -30%);
    width: 250px;
    height: 200px;
    background-color: azure;
        
    }

    .nav-links-desktop {
        display:none;
    }
}

main {
    height: 90vh;
    background-color: green;

    .image-container {
        margin-top: 50px;
        margin-bottom:50px;

    }

    .block {
        background-color: blue;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
            text-transform: uppercase;
            color:  $Grayish-Blue;  
           .new {
               background-color:$Very-Dark-Blue;
               color: white;
               border-radius: 18px;
               padding: 5px;
               margin: 14px;
               font-weight: 700;
               width: 50px;
           }
        
      }
}

}
h1 {
    margin: 30px;
    font-weight: 700;
    color: $Dark-Grayish-Blue;
    text-transform: uppercase;
  }
  
  p {
    color:  $Grayish-Blue; 
    margin: 30px;
  }

footer {
    background-color: yellow;
    height: 40px;
}

@media screen and (min-width: 426px) {
    nav {
        
        .hamburguer {
            display:none;
        }
        .nav-links-desktop {
            margin-top: 20px;
            background-color: aliceblue;
            width: 50%;
            float: right;
            display: flex;

            li {
                display: inline-block;
                margin: 0 auto;
                text-decoration: none;
            }

        }
    }

    main {
        background-color: purple;
    }

}

@media screen and (min-width: 689px) {
    nav {
        
        .hamburguer {
            display:none;
        }
        .nav-links-desktop {
            margin-top: 20px;
            background-color: aliceblue;
            width: 50%;
            float: right;
            display: flex;

            li {
                display: inline-block;
                margin: 0 auto;
                text-decoration: none;
            }

        }
    }

    main {
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
    }

}
