@import 'reset';
@import 'colors';

html {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    
}
.hidden {
    display: none;
}

.flex {
    display: flex;
  }

nav {
    position: relative;
    height: 55px;
    width: 100%;
    
    .logo {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .hamburguer {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .nav-links {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -30%);
    width: 250px;
    height: 200px;
    background-color: azure;
        
    }

    .nav-links-desktop {
        display:none;
    }
}

main {


    .image-container {
        padding: 0;

        img {
            width: 100%;
            height: auto;
            max-width: 625px;
            margin-top: 17%;
            margin-right: 0;
            display: block;
        }

    }


    .block {
        max-width: 625px;
        width: 90%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .name {
            text-align: left;
            text-transform: uppercase;
            color:  $Grayish-Blue;
            letter-spacing: 3px;
            font-size: 0.9em;  
           .new {
                margin-right: 8px;
                background-color:$Very-Dark-Blue;
                color: white;
                background: #242942;
                padding: 5px 10px;
                border-radius: 15px;
                font-weight: bold;

           }
           
          
        
      }

      .button-container {
          display: flex;
          justify-content: flex-start;


        
          button {
            background: #ff5c5c;
            border: none;
            font-size: 14px;
            font-family: "Barlow", sans-serif;
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 8px 0;
          }

          span {
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-right: 5px;
          }
    }

      h1 {
        text-align: left;
        font-weight: 700;
        color: $Very-Dark-Blue;
        text-transform: uppercase;
      }
      
      p {
        text-align: left;
        color:   $Grayish-Blue; 
      }
}

.block > * {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

}


footer {
    display: block;
    font-size: 0.8rem;
    text-justify: auto;
    text-align: center;
}

@media screen and (min-width: 426px) {
    nav {
        
        .hamburguer {
            display:none;
        }
        .nav-links-desktop {
            margin-top: 20px;
            background-color: aliceblue;
            width: 50%;
            float: right;
            display: flex;

            li {
                display: inline-block;
                margin: 0 auto;
                text-decoration: none;
            }

        }
    }

    main {
    

        .block {
            max-width: 400px;

            * {
                margin: 20px auto;
            }

            .name {
                font-size: 0.7em;
            }

            h1 {
                font-size: 3em;
            }

            p {
                padding-right: 25%;
            }
        }
    }

}

@media screen and (min-width: 689px) {
    nav {
        
        .hamburguer {
            display:none;
        }
        .nav-links-desktop {
            margin-top: 20px;

            width: 50%;
            float: right;
            display: flex;

            li {
                display: inline-block;
                margin: 0 auto;
                text-decoration: none;
            }

        }
    }

    main {
        display: flex;
        flex-direction: row-reverse;
    }

}
